* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-image: url("assets/img/BG.png") no-repeat center center/column;
  font-family: Rubik;
  text-transform: capitalize;
}

.selected {
  color: #FF6838;
}

button {
  border: 0;
  border-radius: 5px;
  padding: 10px 27px;
  font-family: Rubik;
  background-color: none;
}

.orange {
  background-color: #FF6838;
  color: #FFF;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 54px 144px 104px 125px;
}
.header_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header_menu {
  padding-left: 279px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_menu_item {
  padding-left: 60px;
  font-size: 18px;
  font-weight: 400;
}
.header_menu_item:first-child {
  padding: 0;
}
.header_menu_link {
  color: #363853;
}
.header_menu_btn-signup_text {
  color: #FFF;
}

.main {
  display: flex;
  justify-content: center;
}
.main_wrap {
  max-width: 1230px;
  display: flex;
}
.main_text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 115px;
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
}
.main_text_title {
  display: flex;
  font-size: 66px;
  font-weight: 500;
  max-width: 530px;
  line-height: 78px;
}
.main_text_subtitle {
  padding-top: 23px;
  max-width: 513px;
  line-height: 30px;
}
.main_text_btns {
  padding-top: 45px;
}
.main_text_btn {
  font-size: 20px;
  font-weight: 400;
}
.main_text_a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  padding-left: 30px;
  color: #363853;
}

.info {
  display: flex;
  justify-content: center;
}
.info_wrap {
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_text {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 116px;
  padding-left: 138px;
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
}
.info_text_title {
  display: flex;
  font-size: 36px;
  font-weight: 500;
  max-width: 384px;
  line-height: 50px;
}
.info_text_subtitle {
  padding-top: 30px;
  max-width: 449px;
  line-height: 30px;
}
.info_text_points {
  padding-top: 13px;
}
.info_text_point {
  display: flex;
  justify-content: flex-start;
}
.info_text_point_text {
  padding-left: 25px;
}
.info_text_btn {
  width: 40%;
  margin-top: 188px;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 115px;
}
.footer_wrap {
  max-width: 1230px;
  width: 100%;
}
.footer_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.footer_nav_item_points {
  padding-top: 14px;
}
.footer_nav_item_point {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.footer_nav_item_point_text {
  padding-left: 7px;
}
.footer_nav_item_messengers {
  padding-top: 15px;
}
.footer_nav_item_messengers img {
  padding-left: 13px;
}
.footer_nav_item_messengers img:first-child {
  padding: 0;
}

.ps {
  display: flex;
  justify-content: center;
}
.ps_wrap {
  max-width: 1230px;
  width: 100%;
  padding: 25px 0;
}
.ps_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
}
.ps_nav_item {
  font-size: 14px;
  font-weight: 400;
  padding-left: 50px;
}
.ps_nav_item:first-child {
  padding-left: 0;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.signup_wrap {
  width: 375px;
  height: 472px;
  background-color: #f8f8f8;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signup_main {
  width: 276px;
}
.signup_main_logo {
  padding: 52px 92px;
}
.signup_main_text {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #363853;
}
.signup_main_text:first-child {
  padding-top: 0px;
}
.signup_main_text:last-child {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.signup_main_input {
  height: 50px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #E2E2E2;
  margin-top: 10px;
}
.signup_main_input::-moz-placeholder {
  padding: 15px;
}
.signup_main_input::placeholder {
  padding: 15px;
}